---
import ExternalLink from '@components/ExternalLink.astro'
import BaseLayout from './BaseLayout.astro'

interface Props {
  title: string
  author: string
  youtube?: string
  spotify?: string
  key: string
  bpm: number
  time?: string
}

const { title, author, youtube, spotify, key, bpm, time = '4/4' } = Astro.props
---

<BaseLayout
  title={`${title} | ChordHub`}
  description={`Letra y acordes de la canción ${title} de ${author}.`}
  mainClass="md:flex md:flex-row-reverse"
  footerClass={
    'md:fixed md:inset-x-0 md:bottom-0 md:bg-none md:pb-5 ' +
    '[&_div]:md:flex-col-reverse [&_div]:md:items-end'
  }
>
  <header
    class="bg-neutral-600 text-neutral-100 shadow md:sticky md:top-0"
    slot="header"
  >
    <div class="mx-auto max-w-5xl px-5 pb-5 pt-4 sm:px-10 xl:px-0">
      <a class="flex items-center text-xl font-medium" href="/">
        <img class="w-6" src="/logo.png" alt="" width="64" height="64" />
        ChordHub
      </a>
    </div>
  </header>
  <section
    class:list={[
      'border-b border-neutral-500 py-5 md:sticky md:top-16 md:h-fit',
      'md:max-w-sm md:flex-grow md:border-0 md:pl-9 md:py-7'
    ]}
  >
    <h1 class="text-2xl font-bold">{title}</h1>
    <p class="text-primary-500">
      <strong class="font-semibold">{author}</strong>
    </p>
    <nav class="my-2 flex gap-x-1">
      <ExternalLink href={`https://www.youtube.com/watch?v=${youtube}`}>
        <img
          class="w-7"
          src="/icons/youtube.svg"
          alt="YouTube"
          width="24"
          height="24"
        />
      </ExternalLink>
      <ExternalLink href={`https://open.spotify.com/intl-es/track/${spotify}`}>
        <img
          class="w-7"
          src="/icons/spotify.svg"
          alt="Spotify"
          width="24"
          height="24"
        />
      </ExternalLink>
    </nav>
    <div
      class:list={[
        'flex gap-x-5 font-medium text-primary-900 md:mt-4 md:flex-col',
        'md:gap-y-2 md:border-t md:border-neutral-400 md:pt-3'
      ]}
    >
      <p>
        <strong class="font-semibold text-neutral-900">Tono:</strong>
        {key}
      </p>
      <p>
        <strong class="font-semibold text-neutral-900">BPM:</strong>
        {bpm}
      </p>
      <p>
        <strong class="font-semibold text-neutral-900">Compás:</strong>
        {time}
      </p>
    </div>
  </section>
  <section
    class="md:flex-grow md:border-x md:border-neutral-300 md:px-8 md:py-3"
  >
    <slot />
  </section>
</BaseLayout>
